pipeline/IF_ACTIVITY_INPUT_GREATER_OUTPUT.json
{
	"name": "IF_ACTIVITY_INPUT_GREATER_OUTPUT",
	"properties": {
		"activities": [
			{
				"name": "Input_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TrxnDate) as Input_Table_Date from DBO.IFTABLE_INPUT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLTABLE_TEST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Output_Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(TrxnDate) as Output_Table_Date from DBO.IFTABLE_OUTPUT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLTABLE_TEST",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Input_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Output_Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Input_lookup').output.firstRow.Input_Table_Date, \nactivity('Output_Lookup').output.firstRow.Output_Table_Date\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "False_Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamic_Sql_Table_input",
									"type": "DatasetReference",
									"parameters": {
										"db_TableName": "IfTable_Input"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_Sql_Table_input",
									"type": "DatasetReference",
									"parameters": {
										"db_TableName": "IfTable_Output"
									}
								}
							]
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "TRUNCATE TABLE IFTABLE_INPUT\nSELECT * FROM DBO.IFTABLE_INPUT",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "SQLTABLE_TEST",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-07-11T03:16:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}